/*All*/
*{
    box-sizing: border-box;
}
.toast-notification{
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    font-size: 24px;
    color: rgb(197, 148, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: green;
    z-index: 1000;
}
.toast-notification>p{margin: 0;}
#app{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: rgb(162, 144, 97);
    height: 100vh;
    overflow-y: hidden;
}

.app-top-bar{
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    margin-left: -6px;
    border-bottom: 3px solid rgb(79, 69, 47);
    box-shadow: 2px solid rgb(79, 69, 47); 
}
.app-top-bar-right{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: end;
}
.app-top-bar .app-top-bar-title{
    font-size: 28px;
    color: rgb(109, 66, 17);
    font-weight: bolder;
    margin-top:-6px;
}

/*Desktop*/
.app-container{
    margin-top: 40px;
    padding: 6px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}


.fake-table-row.completed{
    background-color: rgba(0,128,0,0.5);
}
.form-input{
    display: flex;
    flex-direction: column;
}
.form-input-inline{
    display: flex;
    flex-direction: column;
}
.form-input-inline>input{
    margin-right: 4px;
}
.app-top-bar-options>img{
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.app-text-input{
    background-color:rgb(162, 144, 97);
    color: rgb(33,37,41);
}
.app-text-input:focus-visible{
    outline: 2px solid rgb(79, 69, 47);
}
.error-message{
    color: red;
    font-size: 12px;
}
.app-top-bar-dark-toggle-dark{
    transform: rotate(180deg);
}
.btn.btn-primary{
    background-color: rgb(197, 148, 92);
    border-color: rgb(197, 148, 92);
}
.btn.btn-primary:hover{
    background-color: rgb(69, 59, 37);
    border-color: rgb(69, 59, 37);
}
/*Tablet*/
@media(max-width: 1085px){
    .app-top-bar .app-top-bar-title{
        font-size: 24px;
        font-weight: bolder;
    }
    .app-container{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
    *{
        font-size: 0.9rem;
    }
}

/*Mobile*/
@media (max-width: 768px){
    
    *{
        font-size: 0.8rem;
    }
    .app-top-bar .app-top-bar-title{
        font-size: 20px;
        font-weight: bolder;
    }
    .app-container{
        display: flex;
        flex-direction: column;
    }
    .app-top-bar-options>img{
        height: 20px;
        width: 20px;
        margin-top: 0;
    }
}

@media(max-width: 609px){
    .app-top-bar{
        padding-left: 5px;
        padding-right: 5px;
    }
}
