/*All*/
*{
    box-sizing: border-box;
}

#app{
    height: 100vh;
    width: 100vw;
}
body{
    background-color: var(--osrs-color);
    color: var(--osrs-text-color);
    height: 100vh;
    overflow-y: hidden;
}
a{
    color: lightseagreen;
}
.app-top-bar{
    height: var(--top-bar-size);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 4px;
    margin-left: -6px;
    border-bottom: 3px solid var(--osrs-dark-color);
    box-shadow: 2px solid var(--osrs-dark-color); 
}
.app-top-bar-right{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: end;
}
.app-top-bar .app-top-bar-title{
    font-size: 28px;
    color: var(--osrs-semi-dark-color);
    font-weight: bolder;
    margin-top:-6px;
}

/*Desktop*/
.app-container{
    margin-top: var(--top-bar-size);
    padding: 6px;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}

.app-top-bar-options{
    display: flex;
    flex-direction: row;
}
.app-top-bar-options span{
    padding: 4px;
    border: 2px solid var(--osrs-text-color);
    border-radius: 3px;
    margin-right: 4px;
    height: 30px;
}
.app-top-bar-options p{
    margin: 0;
    line-height: 14px;
    text-align: center;
}
.fake-table-row.completed{
    background-color: var(--osrs-green);
}
.form-input{
    display: flex;
    flex-direction: column;
}
.form-input-inline{
    display: flex;
    flex-direction: row;
}
.form-input-inline>input{
    margin-right: 4px;
}
.app-top-bar-options>img{
    height: 32px;
    width: 32px;
    cursor: pointer;
}
input[type="text"],
input[type="password"]{
    background-color:var(--osrs-color);
    color: var(--osrs-text-color);
    border: 1px solid var(--osrs-dark-color);
}
input[type="text"]:focus-visible,
input[type="password"]:focus-visible{
    outline: 2px solid var(--osrs-dark-color);
}
.error-message{
    color: var(--osrs-error-color);
    font-size: 12px;
}
.app-top-bar-dark-toggle-dark{
    transform: rotate(180deg);
}
.btn.btn-primary{
    background-color: var(--osrs-semi-light-color);
    border-color: var(--osrs-semi-light-color);
}
.btn.btn-primary:hover{
    background-color: var(--osrs-semi-dark-color);
    border-color: var(--osrs-semi-dark-color);
}
/*Tablet*/
@media(max-width: 1085px){
    /* .app-top-bar .app-top-bar-title{
        font-size: 24px;
        font-weight: bolder;
    } */
    .app-container{
        margin-top: 40px;
        display: flex;
        flex-direction: row;
    }
    *{
        font-size: 0.9rem;
    }
}

/*Mobile*/
@media (max-width: 768px){
    
    *{
        font-size: 0.8rem;
    }
    /* .app-top-bar .app-top-bar-title{
        font-size: 20px;
        font-weight: bolder;
    } */
    .app-container{
        display: flex;
        flex-direction: column;
    }
    /* .app-top-bar-options>img{
        height: 20px;
        width: 20px;
        margin-top: 0;
    } */
}

@media(max-width: 500px){
    /* .app-top-bar{
        padding-left: 5px;
        padding-right: 5px;
    }
    .app-top-bar-options p{
        font-size: 12px;
    } */
    /* .app-top-bar .app-top-bar-title{
        font-size: 14px;
        font-weight: bolder;
    } */
    .app-top-bar-options > span > p{
        font-size: 1rem;
    }
}
