/* body{
    background-color: #212529;
    color: rgb(162, 144, 97);
}
.app-top-bar .app-top-bar-title{
    color: rgb(197, 148, 92);
}
.fake-table-head{
    border-bottom-color: rgb(162, 144, 97);
}
.fake-table-th, .fake-table-td{
    border-color: rgb(162, 144, 97);
}
.filter-panel-section-header{
    border-bottom-color: rgb(162, 144, 97);
}
.filter-panel-section-contents{
    border-bottom-color: rgb(162, 144, 97);
}
.single-skill-filter, .single-diff-filter, .single-area-filter{
    border-color: rgb(162, 144, 97);
}
.row-detail-area-divider{
    color: rgb(162, 144, 97);
}
.tabs-content{
    border-color: rgb(162, 144, 97);
}
.tab-header{
    border-color: rgb(162, 144, 97);
}
.tabs-collapse{
    border-color: rgb(162, 144, 97);
}
.tab-header:first-child{
    border-color: rgb(162, 144, 97);
}
.row-detail{
    border-color: rgb(162, 144, 97);
}
.options-panel{
    background-color:rgb(33, 37, 41);
    border-color:  rgb(162, 144, 97);
}
.list-divider{
    border-color:  rgb(162, 144, 97);
}

.options-panel-item:hover{
    background-color: rgb(79, 69, 47);
}

.app-top-bar-options span{
    border-color: rgb(162, 144, 97);
} */

:root{
    --osrs-color: rgb(33, 37, 41);
    --osrs-text-color: rgb(162, 144, 97);
    --osrs-semi-dark-color: rgb(197, 148, 92);
    --osrs-semi-light-color: rgb(109, 66, 17);
}