.first-load-modal{
    display: flex;
    flex-direction: column;
}
.first-load-modal p{
    font-size: 18px;
    margin-bottom: 3px;
}
.first-load-modal a{
    font-size: 18px;
}
.first-load-modal input[type="text"]{
    width: 300px;
    height: 40px;
    font-size: 22px;
}
.first-load-modal-username{
    display: flex;
    flex-direction: column;
}
.first-load-modal-info{
    display: flex;
    flex-direction: column;
}
.first-load-modal-account{
    display: flex;
    flex-direction: column;
}
.first-load-modal-buttons{
    display: flex;
    flex-direction: row;
}
