.modal-overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
.modal{
    z-index: 1001;
    height: 100%;
    max-height: 600px;
    width: 100%;
    max-width: 800px;
    position:relative;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--osrs-color);
    color: var(--osrs-text-color);
    border-radius: 8px;
    border: 2px solid var(--osrs-text-color);
}
.modal.modal-fullscreen{
    max-height: 95%;
    max-width: 95%;
}
.modal-close{
    position:absolute;
    top: 4px;
    right: 12px;
    cursor: pointer;
}
.modal-close>img{
    height: 40px;
    width: 40px;
    filter: invert(95%) sepia(0%) saturate(20%) hue-rotate(132deg) brightness(93%) contrast(106%);
}
.modal-header{
    position: relative;
    height: 60px;
    width: calc(100% + 16px);
    padding-left: 8px;
    padding-right: 8px;
    margin-left: -8px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid var(--osrs-text-color);
}
.modal-body{
    height: calc(100% - 60px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

@media (max-width: 768px){
    .modal-overlay{
        padding: 10px;
    }
}