.user-select{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.user-select-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.user-select-user{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.user-select-user span{
    font-size: 22px;
    width: 100%;
    padding-left: 6px;
}
.user-select-user.current-user span{
    background-color: var(--osrs-green);
}
.user-select-user-actions{
    display: flex;
    flex-direction: row;
}
.user-select-add{
    display: flex;
    flex-direction: row;
}
.user-select-adding-add{
    margin-top: 4px;
}
.user-select-adding{
    display: flex;
    flex-direction: column;
}